<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SessionPersistenceProject</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
		
	</context-param>
	


	<servlet>
		<servlet-name>Sessionpersistenceproject Application</servlet-name>
		<servlet-class>com.vaadin.server.PersistenceStorageServlet</servlet-class>
		<init-param>
			<description> Amazon S3 Access Key </description>
			<param-name>accessKey</param-name>
			<param-value>INSERT ACCESS KEY </param-value>
		</init-param>
		
		<init-param>
			<description>Amazon S3 Secret Key </description>
			<param-name>secretKey</param-name>
			<param-value>INSERT SECRET KEY </param-value>
		</init-param>
		
		<init-param>
			<description>Amazon s3 Bucket Name</description>
			<param-name>bucketName</param-name>
			<param-value>INSERT BUCKET NAME </param-value>
		</init-param>
		
		<init-param>
			<description>What serialization mechanism to use</description>
			<param-name>serializationmechanism</param-name>
			<param-value>java</param-value>
		</init-param>
		
		<init-param>
			<description>Storage media to use</description>
			<param-name>SessionStorage</param-name>
			<param-value>com.vaadin.server.HTML5LocalStorageSessionStorageManager</param-value>
		</init-param>
		
		<init-param>
			<description>
			Vaadin UI class to use</description>
			<param-name>UI</param-name>
			<param-value>com.example.sessionpersistenceproject.SessionpersistenceprojectUI</param-value>
		</init-param>
		
		<init-param>
    		<description>Application widgetset</description>
    		<param-name>widgetset</param-name>
    		<param-value>com.example.sessionpersistenceproject.ClientStorageWidgetset</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Sessionpersistenceproject Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
        <async-supported>true</async-supported>
</web-app>
        